In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import warnings

In [2]:
from google.colab import drive

drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [3]:

def A024_to_txt(file_path):

    txt_path = file_path.with_suffix(".txt")

    try:
        txt = file_path.rename(txt_path)

    except FileNotFoundError:
        print(f"Error: could not find the '{file_path}' file.")

    except FileExistsError:
        print(f"Error: the '{txt}' target file already exists.")

    else:
        print(f"Changed extension of '{file_path}' to '{txt.name}'.")

In [4]:
#file_path = Path("./Weird_folder_name/MCI.AR.T464.M.E0071312.D230224.T020047 - Copy.A024")
file_path = Path("/content/gdrive/MyDrive/SNAPNET/Gdrive_dev/MCI.AR.T464.M.E0071312.D230224.T020047 - Copy.A024")

colspecs = [

    (0, 4), (4, 13), (13, 14), (14, 18), (18, 24), (24, 30), (30, 32), (32, 51), (51, 57), (57, 63),

    (63, 67), (67, 70), (70, 82), (82, 92), (92, 102), (102, 104), (104, 107), (107, 114), (114, 118), (118, 124), (124, 127),

    (127, 128), (128, 140), (140, 141), (141, 153), (153, 154), (154, 162), (162, 163), (163, 166), (166, 167), (167, 175), (175, 187), (187, 188), (188, 198), (198, 199),

    (199, 202), (202, 204), (204, 214), (214, 218), (218, 219), (219, 231), (231, 243), (243, 249)

]

# Define column names
columns = [
    'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',

    'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',

    'U', 'V', 'W', 'X', 'Y', 'Z', 'AA', 'AB', 'AC', 'AD',

    'AE', 'AF', 'AG', 'AH', 'AI', 'AJ', 'AK', 'AL', 'AM', 'AN',

    'AO', 'AP', 'AQ'
    # Define column names for all columns
]

# Read the fixed-width data file
#df = pd.read_fwf('C:/Users/olanr/Downloads/MCI.AR.T464.M.E0071312.D230224.T020047.A024.txt', colspecs=colspecs, names = columns, nrows = 10_000)

# Now you have your data in a pandas DataFrame
#df.head(60)

try:
    loaded_data = pd.read_fwf(file_path, colspecs= colspecs, names = columns,
                             dtype = str)

except Exception as e:
    print(f"An error occurred reading the file normally. Converting to .txt.\nPython error: {e}")

    new_file_path = A024_to_txt(file_path)
    loaded_data = pd.read_fwf(new_file_path, colspecs= colspecs, names = columns,
                             dtype = str)

else:
    print("Data loaded in first attempt")

loaded_data.head(60)

# loaded_data = loaded_data[['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N',
#        'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'AA', 'AB',
#        'AC', 'AD', 'AE', 'AF', 'AG', 'AH', 'AI', 'AJ', 'AK', 'AL', 'AM', 'AN',
#        'AO', 'AP']]

Data loaded in first attempt

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
0,FHDR,022323900,0,0015,19250P,VERSIO,N,16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SHDR,000 56,6,2A,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NREC,030531216,A,0139,022323,130847,16,5587600100063814,300000,827796,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
3,NREC,031215967,A,0139,022323,072838,16,5587600103042955,300000,376058,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
4,NREC,031226574,A,0139,022323,100942,16,5587600100354452,300000,750196,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
5,NREC,032179974,A,2169,022323,092909,16,5249101000679056,011000,311682,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000200000,NaN,000000
6,NREC,032292813,A,2169,022323,194602,16,5249101000894713,300000,469413,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
7,NREC,033006657,A,0139,022323,104415,16,5587600100305777,300000,151948,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
8,NREC,137539672,A,0139,022323,132059,16,5587600100063814,300000,971395,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
9,NREC,232808518,A,2169,022323,083741,16,5249101006266304,300000,813743,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
10,NREC,332865157,A,0139,022323,131543,16,5587600100063814,300000,912210,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
11,NREC,333095635,A,2169,022323,153015,16,5249100170088171,300000,440898,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
12,NREC,334051466,A,0139,022323,120949,16,5587600100707295,300000,151663,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
13,NREC,337921258,A,2169,022323,174952,16,5249100170097958,300000,159409,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
14,NREC,339085629,A,0139,022323,120924,16,5587600100707295,300000,146955,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
15,NREC,434577566,A,0139,022323,002318,16,5587600100825246,300000,870135,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
16,NREC,531140865,A,0139,022223,224150,16,5591130100300481,010000,652647,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000001000000,NaN,000000
17,NREC,535935061,A,2169,022323,085810,16,5249100170068249,300000,996764,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
18,NREC,631624492,A,0139,022323,114613,16,5587600100354452,300000,880449,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
19,NREC,632529952,A,0139,022323,092611,16,5587600100032934,300000,278661,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
20,NREC,635944939,A,2169,022323,181252,16,5249100130066556,300000,436835,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
21,NREC,636473019,A,2169,022323,094408,16,5249101005983404,011000,471835,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000200000,NaN,000000
22,NREC,637386016,A,2169,022323,200653,16,5249101000894713,300000,692799,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
23,NREC,732153907,A,2169,022323,085045,16,5249101005131715,300000,927099,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
24,NREC,732168099,A,0139,022323,113314,16,5587600100079083,300000,729275,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
25,EREC,733012860,A,0139,020823,142712,16,5587600100449120,011000,678789,...,0000002500,D,NaN,NaN,00000000,0000,D,000000000000,D0208234NNX,076068
26,NREC,733646294,A,2169,022323,072227,16,5249100130037318,300000,350766,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
27,NREC,739196581,A,0139,022323,104345,16,5587600100305777,300000,146543,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
28,NREC,833123306,A,0139,022323,160910,16,5587600100354452,300000,890957,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
29,NREC,931666335,A,2169,022323,195813,16,5249101000894713,300000,607564,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
30,NREC,937787447,A,0139,022323,082352,16,5587600100354452,300000,706369,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
31,STRL,000 56,6,2A,NaN,0000,00,0000000000000000000,000000,000000,...,0000000000,0,000,00,0000000000,0000,0,000000000000,025000000000,000000
32,SHDR,000 56,6,2I,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,FREC,030469681,I,0084,022123,203702,16,5199110731554413,000000,999999,...,0000000126,C,NaN,NaN,NaN,4NNX,NaN,000000084000,NaN,000000
34,DBMC,030469681,3,057D,L02000,0002MD,UE,KR6I475315253053103,234685,308230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,FREC,030469965,I,0084,022123,203802,16,5199110792758374,000000,999999,...,0000000060,C,NaN,NaN,NaN,4NNX,NaN,000000040000,NaN,000000
36,DBMC,030469965,3,0575,32A000,0532MD,UL,6UXVK75315253053103,235850,208230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,FREC,030469969,I,0084,022123,203858,16,5199111280046934,000000,999999,...,0000000008,C,NaN,NaN,NaN,4NNX,NaN,000000005000,NaN,000000
38,DBMC,030469969,3,C57P,S01000,0001MC,C8,3708475315253053103,236404,807230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,FREC,030470098,I,0084,022123,203903,16,5199110878292355,000000,999999,...,0000000150,C,NaN,NaN,NaN,4NNX,NaN,000000100000,NaN,000000
40,DBMC,030470098,3,C57P,S01000,0001MC,C8,1619475315253053103,235071,706230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,FREC,030470390,I,0084,022123,204054,16,5199110730210827,000000,999999,...,0000000750,C,NaN,NaN,NaN,4NNX,NaN,000000500000,NaN,000000
42,DBMC,030470390,3,C57P,S01000,0001MC,C2,2302475315253053103,237170,001230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,FREC,030470446,I,0084,022123,204015,16,5199111267856917,000000,999999,...,0000000135,C,NaN,NaN,NaN,4NNX,NaN,000000090000,NaN,000000
44,DBMC,030470446,3,057P,U45000,0045MD,UM,C3GVL75315253053103,236065,608230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,FREC,030470650,I,0084,022123,204247,16,5199110857273798,000000,999999,...,0000000203,C,NaN,NaN,NaN,4NNX,NaN,000000135000,NaN,000000
46,DBMC,030470650,3,0575,24A000,0524MD,UX,NXA2C75315253053103,234808,405230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,FREC,030471176,I,0084,022123,204436,16,5199110723874571,000000,999999,...,0000000150,C,NaN,NaN,NaN,4NNX,NaN,000000100000,NaN,000000
48,DBMC,030471176,3,0575,32A000,0532MD,UQ,E2KVJ75315253053103,237262,113230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,FREC,030471185,I,0084,022123,204410,16,5199110765079071,000000,999999,...,0000000368,C,NaN,NaN,NaN,4NNX,NaN,000000245000,NaN,000000
50,DBMC,030471185,3,0575,24A000,0524MD,UK,5NWVJ75315253053103,235110,819230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,FREC,030471367,I,0084,022123,204506,16,5199110873219072,000000,999999,...,0000000592,C,NaN,NaN,NaN,4NNX,NaN,000000394900,NaN,000000
52,DBMC,030471367,3,057J,M1B000,001BMD,US,ZNKOB75315253053103,235103,517230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,FREC,030471396,I,0084,022123,204500,16,5199110856556102,000000,999999,...,0000000086,C,NaN,NaN,NaN,4NNX,NaN,000000057100,NaN,000000
54,DBMC,030471396,3,057D,L02000,0002MD,UT,JKNVJ75315253053103,235972,317230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,FREC,030471641,I,0084,022123,204723,16,5199110863849904,000000,999999,...,0000000150,C,NaN,NaN,NaN,4NNX,NaN,000000100000,NaN,000000
56,DBMC,030471641,3,0575,32A000,0532MD,UY,NWIVJ75315253053103,236704,214230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,FREC,030471693,I,0084,022123,204700,16,5199110721908314,000000,999999,...,0000000450,C,NaN,NaN,NaN,4NNX,NaN,000000300000,NaN,000000
58,DBMC,030471693,3,0575,32I000,0532MD,UX,VL92C75315253053103,234631,013230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,FREC,030471775,I,0084,022123,204747,16,5199110682283244,000000,999999,...,0000000150,C,NaN,NaN,NaN,4NNX,NaN,000000100000,NaN,000000

In [34]:
dbmc_mask = loaded_data["A"] == "DBMC"

dbmc_data = loaded_data.loc[dbmc_mask, :]
dbmc_data

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
34,DBMC,030469681,3,057D,L02000,0002MD,UE,KR6I475315253053103,234685,308230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,DBMC,030469965,3,0575,32A000,0532MD,UL,6UXVK75315253053103,235850,208230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,DBMC,030469969,3,C57P,S01000,0001MC,C8,3708475315253053103,236404,807230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,DBMC,030470098,3,C57P,S01000,0001MC,C8,1619475315253053103,235071,706230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,DBMC,030470390,3,C57P,S01000,0001MC,C2,2302475315253053103,237170,001230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724742,DBMC,989601806,4,4519,795099,8 MD,GG,2TDEW55429503053719,691053,905230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724744,DBMC,989603673,3,1100,310088,1 MD,GJ,ZBYEZ82305763053307,548002,623230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724746,DBMC,989611000,S,AIVT,CHQI9N,1VH4MD,GI,TDRJE82711163054000,002355,971230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724750,DBMC,989623820,0,0001,010040,279799,99,9999985276233053405,323263,410230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724752,DBMC,989738695,P,L7WU,QLGJ9R,I3YXMD,GJ,FQQCZ82711163054000,007823,940230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
dbmc_data[dbmc_data["P"] == "23"].loc[:, :"Q"]

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q
34,DBMC,030469681,3,057D,L02000,0002MD,UE,KR6I475315253053103,234685,308230,2230,190,001 DMC,4566001753,ME00056601,23,022
36,DBMC,030469965,3,0575,32A000,0532MD,UL,6UXVK75315253053103,235850,208230,2230,190,001 DMC,4566001753,ME00056601,23,022
38,DBMC,030469969,3,C57P,S01000,0001MC,C8,3708475315253053103,236404,807230,2230,109,004 DMC,4566001753,ME00056601,23,022
40,DBMC,030470098,3,C57P,S01000,0001MC,C8,1619475315253053103,235071,706230,2230,109,004 DMC,4566001753,ME00056601,23,022
42,DBMC,030470390,3,C57P,S01000,0001MC,C2,2302475315253053103,237170,001230,2230,109,004 DMC,4566001753,ME00056601,23,022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724742,DBMC,989601806,4,4519,795099,8 MD,GG,2TDEW55429503053719,691053,905230,2230,399,001 DMC,1010601YA1,US00000001,23,022
724744,DBMC,989603673,3,1100,310088,1 MD,GJ,ZBYEZ82305763053307,548002,623230,2230,309,001 DMC,1050601EW1,US00000001,23,022
724746,DBMC,989611000,S,AIVT,CHQI9N,1VH4MD,GI,TDRJE82711163054000,002355,971230,2230,300,110 DMC,1010601YA1,US00000001,23,022
724750,DBMC,989623820,0,0001,010040,279799,99,9999985276233053405,323263,410230,2230,499,001 DMC,2060001YM1,US00000001,23,022
724752,DBMC,989738695,P,L7WU,QLGJ9R,I3YXMD,GJ,FQQCZ82711163054000,007823,940230,2230,600,110 DMC,1010601YA1,US00000001,23,022

In [36]:
# def concat_dbmc(dframe, *cols):
#   df = dframe.copy()

#   for col in df.columns:
#     if df[col].isnull().sum() == len(df):
#       print(f"Found an empty column! Column {col}")
#       for chosen_col in cols:
#         if df[col].isnull().all():
#           df[col] = df[chosen_col]
#         else:
#           df[col] = df[col] + df[chosen_col]
#           print(df[col])
#         print(f"Column {chosen_col} has been concatenated")
#       break

#     else:
#       continue

#   return df, col


# filtered_dbmc_data, moved_col = concat_dbmc(filtered_dbmc, 'O', 'P', 'Q', 'R')

In [37]:
loaded_data.columns[-1]

'AQ'

In [38]:
#loaded_data.to_excel("t464.xlsx", index = False)

In [39]:
def check_columns_validity(data):
    last_column = data.columns[-1]

    if last_column == 'AQ':
        #print("Data loaded in properly")
        aq_approved = True
        #return data

    else:
        #warnings.warn("""Data not loaded properly. Last column is not 'AQ'\nLoaded data might not behave as expected\n\n""")
        aq_approved = False
        #return data

    col_B_check = data["B"].str.len() != 9
    rogue_col_B = data.loc[col_B_check, :]

    if rogue_col_B.empty:
        b_approved = True

    else:
        b_approved = False

    collected_approval = aq_approved + b_approved

    if collected_approval == 2:
        print("Data loaded in properly")

    elif collected_approval == 1:
        warnings.warn("""Data not loaded properly. Last column is not 'AQ' or column 'B' does not contain 9 values\nLoaded data might not behave as expected\nOnly 1 column was validated\n\n""")
    else:
        warnings.warn("""Data not loaded properly. Last column is not 'AQ' or column 'B' does not contain 9 values\nLoaded data might not behave as expected\nNone of the columns could be validated\n\n""")


    return data


check_columns_validity(loaded_data)

Data loaded in properly

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
0,FHDR,022323900,0,0015,19250P,VERSIO,N,16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SHDR,000 56,6,2A,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NREC,030531216,A,0139,022323,130847,16,5587600100063814,300000,827796,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
3,NREC,031215967,A,0139,022323,072838,16,5587600103042955,300000,376058,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
4,NREC,031226574,A,0139,022323,100942,16,5587600100354452,300000,750196,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724759,STRL,000 84,0,2N,NaN,0000,00,0000000000000000000,000000,000000,...,0000000000,0,000,00,0000000000,0000,0,000000000000,000000000000,000000
724760,FTRL,900000204,8,0000,000000,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724761,FHDR,022323900,0,0022,19250P,VERSIO,N,16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724762,STRL,000 84,0,2N,NaN,0000,00,0000000000000000000,000000,000000,...,0000000000,0,000,00,0000000000,0000,0,000000000000,000000000000,000000
724763,FTRL,900000221,9,0000,000000,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Criteria and procedure for Issuing

- We only care about NREC, FREC and EREC in column A
- DBMC is used in another sheet from the above 3.
- We are dealing with Issuing (I) on column C.
- For Issuing (I), we have EREC, FREC, NREC. Same for Acquiring.
- EREC does not come everytime.
- On column U, there are two currencies, 566 and 840. 566: Naira transactions, 840: International transactions.


1. Sort dataset by Column A.
2. DBMC is on top.
3. Move all DBMC rows and remove to a different sheet
4. On the DBMC sheet, take columns O,P,Q,R and concatenate them and place them in column S. S should contain only missing values (i.e. NAN)
5. Column B in DBMC is switch serial number. Always 9 digits
6. Move column S next to column B in DBMC. It becomes the new column C.
7. Original sheet is renamed to sheet A.
8. On sheet A, sort the sheet by column C to have acquirer and issuer sorted.
9. There are rows that are not A or I in column C are deleted from.
10. On sheet A, we don't need column D, G, S, V, and AD
11.
- Acquiring sheet is called B, International D, Issuing is A
- Column E is a date
-

In [40]:
# def excel_delete(dframe, col_letter):

#     df = dframe.copy()

#     original_columns = list(df.columns)

#     df.drop([col_letter], axis = 1, inplace = True)

#     final_df = df[original_columns]

#     return

In [41]:
l = ['a', 'b', 'c']

idx = l.index('b')

l.insert(idx, "k")

l

['a', 'k', 'b', 'c']

In [42]:
x = pd.DataFrame({"A": ["Ade", "Bolu", "Jeremy", "Abiola", "Jibola"],
                  "B": [60, 24, 38, 15, 39],
                  "C": ["Engineering","Sales", "Sales", "Intern", "Human Resources"],
                 "D": ["Red", "Red", "Yellow", "Blue", "Blue"],
                 "E": [1000,500,800,5400,900]})

# def excel_delete(dframe, col):
#     df = dframe.copy()

#     columns = list(df.columns)

#     col_index = columns.index(col)


#     df = df.drop([col], axis = 1)

#     df[f"deleted{col}"] = ["shifted left"]*len(df)

#     df.columns = columns



#     return df





def excel_delete(dframe, cols):
    df = dframe.copy()

    columns = list(df.columns)

    #col_index = columns.index(col)


    df = df.drop(cols, axis = 1)

    for col in cols:
        df[f"deleted{col}"] = ["shifted left"]*len(df)

    df.columns = columns



    return df




def excel_move_column(dframe, moved_col, shifted_col):
    df = dframe.copy()

    columns = list(df.columns)
    columns_copy = columns.copy()

    #shifted_col_mask = df[empty_col].str.lower() == "shifted left"

    shifted_col_idx = columns.index(shifted_col)

    columns.remove(moved_col)

    columns.insert(shifted_col_idx, moved_col)

    df = df[columns]

    df.columns = columns_copy

    return df


    # values_to_move = df[moved_col].values

    # df.drop([moved_col], axis = 1, inplace = True)

    # df[moved_col] = ["shifted left"]*len(df)

    # df.columns = columns

    # df[shifted_col] = values_to_move


    #     print("Could not move to new column because new column has values.\nReturning the original dataframe")
    #     return df

#excel_move_column(x, "E", "A")

In [43]:
x

        A   B                C       D     E
0     Ade  60      Engineering     Red  1000
1    Bolu  24            Sales     Red   500
2  Jeremy  38            Sales  Yellow   800
3  Abiola  15           Intern    Blue  5400
4  Jibola  39  Human Resources    Blue   900

In [44]:
x1 = excel_delete(x, ['B', 'D'])
#excel_delete(x1, 'C')
x1

        A                B     C             D             E
0     Ade      Engineering  1000  shifted left  shifted left
1    Bolu            Sales   500  shifted left  shifted left
2  Jeremy            Sales   800  shifted left  shifted left
3  Abiola           Intern  5400  shifted left  shifted left
4  Jibola  Human Resources   900  shifted left  shifted left

In [45]:
#loaded_data["S"]

In [46]:
#loaded_data.sort_values("A")

dbmc_mask = loaded_data["A"] == "DBMC"

dbmc_data = loaded_data.loc[dbmc_mask, :]

In [47]:
#sheet_A_data.loc[:, : "S"]

In [48]:
#sheet_A_data.loc[:, "S":]

In [49]:
dbmc_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 304423 entries, 34 to 724752
Data columns (total 43 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   A       304423 non-null  object
 1   B       304423 non-null  object
 2   C       304414 non-null  object
 3   D       304414 non-null  object
 4   E       304014 non-null  object
 5   F       304421 non-null  object
 6   G       304419 non-null  object
 7   H       304423 non-null  object
 8   I       304423 non-null  object
 9   J       304423 non-null  object
 10  K       304423 non-null  object
 11  L       304423 non-null  object
 12  M       304423 non-null  object
 13  N       304423 non-null  object
 14  O       49362 non-null   object
 15  P       49362 non-null   object
 16  Q       49362 non-null   object
 17  R       50000 non-null   object
 18  S       638 non-null     object
 19  T       638 non-null     object
 20  U       3 non-null       object
 21  V       0 non-null       object
 22  W       0 non-null       object
 23  X       0 non-null       object
 24  Y       0 non-null       object
 25  Z       0 non-null       object
 26  AA      0 non-null       object
 27  AB      0 non-null       object
 28  AC      0 non-null       object
 29  AD      0 non-null       object
 30  AE      0 non-null       object
 31  AF      0 non-null       object
 32  AG      0 non-null       object
 33  AH      0 non-null       object
 34  AI      0 non-null       object
 35  AJ      0 non-null       object
 36  AK      0 non-null       object
 37  AL      0 non-null       object
 38  AM      0 non-null       object
 39  AN      0 non-null       object
 40  AO      0 non-null       object
 41  AP      0 non-null       object
 42  AQ      0 non-null       object
dtypes: object(43)
memory usage: 102.2+ MB

In [50]:
p_mask = dbmc_data["P"].isnull()

filtered_dbmc = dbmc_data.loc[~p_mask, :]

filtered_dbmc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49362 entries, 34 to 724752
Data columns (total 43 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       49362 non-null  object
 1   B       49362 non-null  object
 2   C       49362 non-null  object
 3   D       49362 non-null  object
 4   E       49357 non-null  object
 5   F       49362 non-null  object
 6   G       49362 non-null  object
 7   H       49362 non-null  object
 8   I       49362 non-null  object
 9   J       49362 non-null  object
 10  K       49362 non-null  object
 11  L       49362 non-null  object
 12  M       49362 non-null  object
 13  N       49362 non-null  object
 14  O       49362 non-null  object
 15  P       49362 non-null  object
 16  Q       49362 non-null  object
 17  R       49362 non-null  object
 18  S       0 non-null      object
 19  T       0 non-null      object
 20  U       0 non-null      object
 21  V       0 non-null      object
 22  W       0 non-null      object
 23  X       0 non-null      object
 24  Y       0 non-null      object
 25  Z       0 non-null      object
 26  AA      0 non-null      object
 27  AB      0 non-null      object
 28  AC      0 non-null      object
 29  AD      0 non-null      object
 30  AE      0 non-null      object
 31  AF      0 non-null      object
 32  AG      0 non-null      object
 33  AH      0 non-null      object
 34  AI      0 non-null      object
 35  AJ      0 non-null      object
 36  AK      0 non-null      object
 37  AL      0 non-null      object
 38  AM      0 non-null      object
 39  AN      0 non-null      object
 40  AO      0 non-null      object
 41  AP      0 non-null      object
 42  AQ      0 non-null      object
dtypes: object(43)
memory usage: 16.6+ MB

In [51]:
# dbmc_data[dbmc_data["P"] == "23"]

### Concatenating O, P, Q, and R

In [52]:
# Concatenating O, P, Q, and R

def concat_dbmc(dframe, *cols):
  df = dframe.copy()

  for col in df.columns:
    if df[col].isnull().sum() == len(df):
      print(f"Found an empty column! Column {col}")
      for chosen_col in cols:
        if df[col].isnull().all():
          df[col] = df[chosen_col]
        else:
          df[col] = df[col] + df[chosen_col]
          print(df[col])
        print(f"Column {chosen_col} has been concatenated")
      break

    else:
      continue

  return df, col


filtered_dbmc_data, moved_col = concat_dbmc(filtered_dbmc, 'O', 'P', 'Q', 'R')

filtered_dbmc_data.loc[:, "O":]

Found an empty column! Column S
Column O has been concatenated
34        ME0005660123
36        ME0005660123
38        ME0005660123
40        ME0005660123
42        ME0005660123
              ...
724742    US0000000123
724744    US0000000123
724746    US0000000123
724750    US0000000123
724752    US0000000123
Name: S, Length: 49362, dtype: object
Column P has been concatenated
34        ME0005660123022
36        ME0005660123022
38        ME0005660123022
40        ME0005660123022
42        ME0005660123022
               ...
724742    US0000000123022
724744    US0000000123022
724746    US0000000123022
724750    US0000000123022
724752    US0000000123022
Name: S, Length: 49362, dtype: object
Column Q has been concatenated
34        ME0005660123022301
36        ME0005660123022301
38        ME0005660123022301
40        ME0005660123022301
42        ME0005660123022301
                 ...
724742    US0000000123022301
724744    US0000000123022301
724746    US0000000123022301
724750    US0000000123022301
724752    US0000000123022301
Name: S, Length: 49362, dtype: object
Column R has been concatenated

,O,P,Q,R,S,T,U,V,W,X,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
34,ME00056601,23,022,301,ME0005660123022301,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,ME00056601,23,022,301,ME0005660123022301,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,ME00056601,23,022,301,ME0005660123022301,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,ME00056601,23,022,301,ME0005660123022301,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,ME00056601,23,022,301,ME0005660123022301,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724742,US00000001,23,022,301,US0000000123022301,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724744,US00000001,23,022,301,US0000000123022301,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724746,US00000001,23,022,301,US0000000123022301,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724750,US00000001,23,022,301,US0000000123022301,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724752,US00000001,23,022,301,US0000000123022301,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
# opqr = dbmc_data['O'] + dbmc_data['P'] + dbmc_data['Q'] + dbmc_data['R']

# opqr.head()

filtered_dbmc_data = excel_move_column(filtered_dbmc_data, moved_col, 'C')

#Second table
filtered_dbmc_data

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
34,DBMC,030469681,ME0005660123022301,3,057D,L02000,0002MD,UE,KR6I475315253053103,234685,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,DBMC,030469965,ME0005660123022301,3,0575,32A000,0532MD,UL,6UXVK75315253053103,235850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,DBMC,030469969,ME0005660123022301,3,C57P,S01000,0001MC,C8,3708475315253053103,236404,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,DBMC,030470098,ME0005660123022301,3,C57P,S01000,0001MC,C8,1619475315253053103,235071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,DBMC,030470390,ME0005660123022301,3,C57P,S01000,0001MC,C2,2302475315253053103,237170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724742,DBMC,989601806,US0000000123022301,4,4519,795099,8 MD,GG,2TDEW55429503053719,691053,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724744,DBMC,989603673,US0000000123022301,3,1100,310088,1 MD,GJ,ZBYEZ82305763053307,548002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724746,DBMC,989611000,US0000000123022301,S,AIVT,CHQI9N,1VH4MD,GI,TDRJE82711163054000,002355,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724750,DBMC,989623820,US0000000123022301,0,0001,010040,279799,99,9999985276233053405,323263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724752,DBMC,989738695,US0000000123022301,P,L7WU,QLGJ9R,I3YXMD,GJ,FQQCZ82711163054000,007823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
#b_opqr = pd.concat([dbmc_data['B'], opqr], axis = 1)

In [55]:
#First table
sheet_A_data = loaded_data.loc[~dbmc_mask, :].copy()

In [56]:
sheet_A_data

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
0,FHDR,022323900,0,0015,19250P,VERSIO,N,16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SHDR,000 56,6,2A,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NREC,030531216,A,0139,022323,130847,16,5587600100063814,300000,827796,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
3,NREC,031215967,A,0139,022323,072838,16,5587600103042955,300000,376058,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
4,NREC,031226574,A,0139,022323,100942,16,5587600100354452,300000,750196,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724759,STRL,000 84,0,2N,NaN,0000,00,0000000000000000000,000000,000000,...,0000000000,0,000,00,0000000000,0000,0,000000000000,000000000000,000000
724760,FTRL,900000204,8,0000,000000,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724761,FHDR,022323900,0,0022,19250P,VERSIO,N,16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724762,STRL,000 84,0,2N,NaN,0000,00,0000000000000000000,000000,000000,...,0000000000,0,000,00,0000000000,0000,0,000000000000,000000000000,000000
724763,FTRL,900000221,9,0000,000000,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
sheet_A_data['C'].value_counts()

I    420289
A        34
0        10
6         5
9         2
8         1
Name: C, dtype: int64

In [58]:
#Filter out non-alphabetic values

acquirer_issuer_mask = sheet_A_data['C'].str.isalpha()

sheet_A_data = sheet_A_data.loc[acquirer_issuer_mask, :]

sheet_A_data.head()

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
2,NREC,030531216,A,0139,022323,130847,16,5587600100063814,300000,827796,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
3,NREC,031215967,A,0139,022323,072838,16,5587600103042955,300000,376058,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
4,NREC,031226574,A,0139,022323,100942,16,5587600100354452,300000,750196,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000
5,NREC,032179974,A,2169,022323,092909,16,5249101000679056,011000,311682,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000200000,NaN,000000
6,NREC,032292813,A,2169,022323,194602,16,5249101000894713,300000,469413,...,0000000000,D,NaN,NaN,NaN,4NNX,NaN,000000000000,NaN,000000

In [59]:
sheet_A_data['C'].value_counts()

I    420289
A        34
Name: C, dtype: int64

In [60]:
# sheet_A_data.rename(columns = {'D': 'Del D',
#                               'G': 'Del G',
#                               'S': 'Del S',
#                               'V': 'Del V',
#                               'AD': 'Del AD',
#                               'E': 'New D',
#                               'H': 'New G',
#                               'T': 'New S',
#                               'W':'New V',
#                               'AE': 'New AD'}, inplace = True)


sheet_A_data = excel_delete(sheet_A_data, ['D', 'G', 'S', 'V','AD'])
# sheet_A_datav1 = excel_delete(sheet_A_data, 'D')
# sheet_A_datav2 = excel_delete(sheet_A_datav1, 'G')
# #sheet_A_datav3 = excel_delete(sheet_A_datav2, 'Q')
# sheet_A_datav3 = excel_delete(sheet_A_datav2, 'S')
# sheet_A_datav4 = excel_delete(sheet_A_datav3, 'V')
# sheet_A_datav5 = excel_delete(sheet_A_datav4, 'AD')


sheet_A_data.loc[:, :]

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
2,NREC,030531216,A,022323,130847,5587600100063814,300000,827796,6011,051,...,4NNX,NaN,000000000000,NaN,000000,shifted left,shifted left,shifted left,shifted left,shifted left
3,NREC,031215967,A,022323,072838,5587600103042955,300000,376058,6011,051,...,4NNX,NaN,000000000000,NaN,000000,shifted left,shifted left,shifted left,shifted left,shifted left
4,NREC,031226574,A,022323,100942,5587600100354452,300000,750196,6011,051,...,4NNX,NaN,000000000000,NaN,000000,shifted left,shifted left,shifted left,shifted left,shifted left
5,NREC,032179974,A,022323,092909,5249101000679056,011000,311682,6011,801,...,4NNX,NaN,000000200000,NaN,000000,shifted left,shifted left,shifted left,shifted left,shifted left
6,NREC,032292813,A,022323,194602,5249101000894713,300000,469413,6011,051,...,4NNX,NaN,000000000000,NaN,000000,shifted left,shifted left,shifted left,shifted left,shifted left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724748,NREC,989623662,I,022323,094941,5178687042260553,010000,288615,6011,051,...,4NYN,NaN,000000038178,NaN,000000,shifted left,shifted left,shifted left,shifted left,shifted left
724749,FREC,989623820,I,022123,045024,5178687065534231,000000,999999,5814,021,...,4NYY,NaN,000000037000,NaN,000000,shifted left,shifted left,shifted left,shifted left,shifted left
724751,FREC,989738695,I,022323,100351,5178687035759181,000000,999999,7372,100,...,4NYY,NaN,000000002296,NaN,000000,shifted left,shifted left,shifted left,shifted left,shifted left
724753,NREC,989798512,I,022323,180746,5199110777566271,000000,673167,5311,051,...,4NNX,NaN,000000239500,NaN,000000,shifted left,shifted left,shifted left,shifted left,shifted left
724754,NREC,989809706,I,022323,173226,5178687051070927,010000,234487,6011,051,...,4NYY,NaN,000000030000,NaN,000000,shifted left,shifted left,shifted left,shifted left,shifted left

In [61]:
sheet_A_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420323 entries, 2 to 724754
Data columns (total 43 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   A       420323 non-null  object
 1   B       420323 non-null  object
 2   C       420323 non-null  object
 3   D       420323 non-null  object
 4   E       420323 non-null  object
 5   F       420323 non-null  object
 6   G       420323 non-null  object
 7   H       420323 non-null  object
 8   I       420323 non-null  object
 9   J       420323 non-null  object
 10  K       370358 non-null  object
 11  L       420323 non-null  object
 12  M       420323 non-null  object
 13  N       420323 non-null  object
 14  O       420323 non-null  object
 15  P       308175 non-null  object
 16  Q       111161 non-null  object
 17  R       420323 non-null  object
 18  S       420323 non-null  object
 19  T       420323 non-null  object
 20  U       420323 non-null  object
 21  V       420323 non-null  object
 22  W       420323 non-null  object
 23  X       420323 non-null  object
 24  Y       420323 non-null  object
 25  Z       420323 non-null  object
 26  AA      420323 non-null  object
 27  AB      420323 non-null  object
 28  AC      420323 non-null  object
 29  AD      420323 non-null  object
 30  AE      0 non-null       object
 31  AF      0 non-null       object
 32  AG      688 non-null     object
 33  AH      420323 non-null  object
 34  AI      688 non-null     object
 35  AJ      420323 non-null  object
 36  AK      688 non-null     object
 37  AL      420323 non-null  object
 38  AM      420323 non-null  object
 39  AN      420323 non-null  object
 40  AO      420323 non-null  object
 41  AP      420323 non-null  object
 42  AQ      420323 non-null  object
dtypes: object(43)
memory usage: 141.1+ MB

In [62]:
sheet_A_data[sheet_A_data["AN"].str.lower() == "shifted left"]["AN"].empty

False

In [63]:
def excel_move_column_to_empty(dframe, moved_col, empty_col):
    df = dframe.copy()

    columns = list(df.columns)

    shifted_col_mask = df[empty_col].str.lower() == "shifted left"

    if df[empty_col].isnull().sum() == len(df) or len(df[shifted_col_mask][empty_col]) == len(df):
        values_to_move = df[moved_col].values

        df.drop([moved_col], axis = 1, inplace = True)

        df[moved_col] = ["shifted left"]*len(df)

        df.columns = columns

        df[empty_col] = values_to_move

        return df

    else:
        print("Could not move to new column because new column has values.\nSearching for empty column")
        empty_col_idx = columns.index(empty_col)
        remainder_columns = columns[empty_col_idx + 1:].copy()

        for chosen_col in remainder_columns:
          shifted_col_mask = df[chosen_col].str.lower() == "shifted left"

          if len(df[shifted_col_mask][chosen_col]) == len(df) or df[chosen_col].isnull().sum() == len(df):
            print(f"Found empty column. Column {chosen_col}")
            values_to_move = df[moved_col].values

            df.drop([moved_col], axis = 1, inplace = True)

            df[moved_col] = ["shifted left"]*len(df)

            df.columns = columns

            df[chosen_col] = values_to_move

            break

        return df

#sheet_A_data = excel_move_column_to_empty(sheet_A_data, 'G', 'AC')

#sheet_A_data

sheet_A_data = excel_move_column_to_empty(sheet_A_data, 'G', 'AM')

In [64]:
sheet_A_data.loc[:, "D": "AN"]

,D,E,F,G,H,I,J,K,L,M,...,AE,AF,AG,AH,AI,AJ,AK,AL,AM,AN
2,022323,130847,5587600100063814,827796,6011,051,022318362192,1956615196,10330158,14,...,NaN,NaN,4NNX,NaN,000000000000,NaN,000000,shifted left,300000,shifted left
3,022323,072838,5587600103042955,376058,6011,051,022353227215,1956615196,10330558,00,...,NaN,NaN,4NNX,NaN,000000000000,NaN,000000,shifted left,300000,shifted left
4,022323,100942,5587600100354452,750196,6011,051,022307750739,1956615196,10331412,57,...,NaN,NaN,4NNX,NaN,000000000000,NaN,000000,shifted left,300000,shifted left
5,022323,092909,5249101000679056,311682,6011,801,022392986186,1956615196,10331952,05,...,NaN,NaN,4NNX,NaN,000000200000,NaN,000000,shifted left,011000,shifted left
6,022323,194602,5249101000894713,469413,6011,051,022369564170,1956615196,10331276,00,...,NaN,NaN,4NNX,NaN,000000000000,NaN,000000,shifted left,300000,shifted left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724748,022323,094941,5178687042260553,288615,6011,051,022300102062,0000003061,AF530645,51,...,NaN,NaN,4NYN,NaN,000000038178,NaN,000000,shifted left,010000,shifted left
724749,022123,045024,5178687065534231,999999,5814,021,NaN,0000014763,99999999,00,...,NaN,NaN,4NYY,NaN,000000037000,NaN,000000,shifted left,000000,shifted left
724751,022323,100351,5178687035759181,999999,7372,100,NaN,0000030743,MVKGR4AB,00,...,NaN,NaN,4NYY,NaN,000000002296,NaN,000000,shifted left,000000,shifted left
724753,022323,180746,5199110777566271,673167,5311,051,305417673167,0000020588,2044XER6,00,...,NaN,NaN,4NNX,NaN,000000239500,NaN,000000,shifted left,000000,shifted left
724754,022323,173226,5178687051070927,234487,6011,051,022300308195,0000003061,AJ002604,91,...,NaN,NaN,4NYY,NaN,000000030000,NaN,000000,shifted left,010000,shifted left

In [65]:
# Change date format for column D

sheet_A_data['D'] = pd.to_datetime(sheet_A_data['D'])
sheet_A_data['D'] = sheet_A_data['D'].dt.strftime('%m/%d/%Y')

sheet_A_data

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
2,NREC,030531216,A,02/23/2023,130847,5587600100063814,827796,6011,051,022318362192,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
3,NREC,031215967,A,02/23/2023,072838,5587600103042955,376058,6011,051,022353227215,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
4,NREC,031226574,A,02/23/2023,100942,5587600100354452,750196,6011,051,022307750739,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
5,NREC,032179974,A,02/23/2023,092909,5249101000679056,311682,6011,801,022392986186,...,NaN,000000200000,NaN,000000,shifted left,011000,shifted left,shifted left,shifted left,shifted left
6,NREC,032292813,A,02/23/2023,194602,5249101000894713,469413,6011,051,022369564170,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724748,NREC,989623662,I,02/23/2023,094941,5178687042260553,288615,6011,051,022300102062,...,NaN,000000038178,NaN,000000,shifted left,010000,shifted left,shifted left,shifted left,shifted left
724749,FREC,989623820,I,02/21/2023,045024,5178687065534231,999999,5814,021,NaN,...,NaN,000000037000,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
724751,FREC,989738695,I,02/23/2023,100351,5178687035759181,999999,7372,100,NaN,...,NaN,000000002296,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
724753,NREC,989798512,I,02/23/2023,180746,5199110777566271,673167,5311,051,305417673167,...,NaN,000000239500,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
724754,NREC,989809706,I,02/23/2023,173226,5178687051070927,234487,6011,051,022300308195,...,NaN,000000030000,NaN,000000,shifted left,010000,shifted left,shifted left,shifted left,shifted left

In [66]:
#Filtering for acquirer and issuer from sheet A data.

acquirer_df = sheet_A_data.loc[sheet_A_data['C'] == 'A', :]
issuer_df = sheet_A_data.loc[sheet_A_data['C'] == 'I', :]

In [67]:
acquirer_df

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
2,NREC,030531216,A,02/23/2023,130847,5587600100063814,827796,6011,051,022318362192,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
3,NREC,031215967,A,02/23/2023,072838,5587600103042955,376058,6011,051,022353227215,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
4,NREC,031226574,A,02/23/2023,100942,5587600100354452,750196,6011,051,022307750739,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
5,NREC,032179974,A,02/23/2023,092909,5249101000679056,311682,6011,801,022392986186,...,NaN,000000200000,NaN,000000,shifted left,011000,shifted left,shifted left,shifted left,shifted left
6,NREC,032292813,A,02/23/2023,194602,5249101000894713,469413,6011,051,022369564170,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
7,NREC,033006657,A,02/23/2023,104415,5587600100305777,151948,6011,051,022371887123,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
8,NREC,137539672,A,02/23/2023,132059,5587600100063814,971395,6011,051,022325248286,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
9,NREC,232808518,A,02/23/2023,083741,5249101006266304,813743,6011,051,022396741781,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
10,NREC,332865157,A,02/23/2023,131543,5587600100063814,912210,6011,051,022343869088,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
11,NREC,333095635,A,02/23/2023,153015,5249100170088171,440898,6011,051,022333236512,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
12,NREC,334051466,A,02/23/2023,120949,5587600100707295,151663,6011,051,022347543865,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
13,NREC,337921258,A,02/23/2023,174952,5249100170097958,159409,6011,051,022374887123,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
14,NREC,339085629,A,02/23/2023,120924,5587600100707295,146955,6011,051,022345437268,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
15,NREC,434577566,A,02/23/2023,002318,5587600100825246,870135,6011,051,022277095607,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
16,NREC,531140865,A,02/22/2023,224150,5591130100300481,652647,6011,051,022280100553,...,NaN,000001000000,NaN,000000,shifted left,010000,shifted left,shifted left,shifted left,shifted left
17,NREC,535935061,A,02/23/2023,085810,5249100170068249,996764,6011,051,022367891002,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
18,NREC,631624492,A,02/23/2023,114613,5587600100354452,880449,6011,051,022300588728,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
19,NREC,632529952,A,02/23/2023,092611,5587600100032934,278661,6011,051,022369145059,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
20,NREC,635944939,A,02/23/2023,181252,5249100130066556,436835,6011,051,022307750272,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
21,NREC,636473019,A,02/23/2023,094408,5249101005983404,471835,6011,801,022378286097,...,NaN,000000200000,NaN,000000,shifted left,011000,shifted left,shifted left,shifted left,shifted left
22,NREC,637386016,A,02/23/2023,200653,5249101000894713,692799,6011,051,022345704852,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
23,NREC,732153907,A,02/23/2023,085045,5249101005131715,927099,6011,051,022357295074,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
24,NREC,732168099,A,02/23/2023,113314,5587600100079083,729275,6011,051,022354904953,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
25,EREC,733012860,A,02/08/2023,142712,5587600100449120,678789,6011,051,020819673176,...,D,000000000000,D0208234NNX,076068,shifted left,011000,shifted left,shifted left,shifted left,shifted left
26,NREC,733646294,A,02/23/2023,072227,5249100130037318,350766,6011,051,022307388544,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
27,NREC,739196581,A,02/23/2023,104345,5587600100305777,146543,6011,051,022358480439,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
28,NREC,833123306,A,02/23/2023,160910,5587600100354452,890957,6011,051,022311427417,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
29,NREC,931666335,A,02/23/2023,195813,5249101000894713,607564,6011,051,022341180806,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
30,NREC,937787447,A,02/23/2023,082352,5587600100354452,706369,6011,051,022392495593,...,NaN,000000000000,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left
108250,NREC,530153219,A,02/23/2023,191952,5199110758476060,154877,5999,051,022305216574,...,NaN,000000022795,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
108251,NREC,537079048,A,02/23/2023,181713,5338530813858170,485998,5812,051,022374800001,...,NaN,000000018500,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
108252,FREC,630000534,A,02/22/2023,220747,5230461000544952,511154,4722,051,022208400003,...,NaN,000000090000,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
108253,NREC,733749737,A,02/23/2023,181626,5338530813858170,478137,5812,051,022395900001,...,NaN,000000018500,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
108254,NREC,934176536,A,02/23/2023,192110,5199110758476060,168997,5999,051,022338339152,...,NaN,000000022795,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left

In [68]:
issuer_df

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
33,FREC,030469681,I,02/21/2023,203702,5199110731554413,999999,5818,812,NaN,...,NaN,000000084000,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
35,FREC,030469965,I,02/21/2023,203802,5199110792758374,999999,7995,812,NaN,...,NaN,000000040000,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
37,FREC,030469969,I,02/21/2023,203858,5199111280046934,999999,5399,812,NaN,...,NaN,000000005000,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
39,FREC,030470098,I,02/21/2023,203903,5199110878292355,999999,5399,812,NaN,...,NaN,000000100000,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
41,FREC,030470390,I,02/21/2023,204054,5199110730210827,999999,5399,002,NaN,...,NaN,000000500000,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724748,NREC,989623662,I,02/23/2023,094941,5178687042260553,288615,6011,051,022300102062,...,NaN,000000038178,NaN,000000,shifted left,010000,shifted left,shifted left,shifted left,shifted left
724749,FREC,989623820,I,02/21/2023,045024,5178687065534231,999999,5814,021,NaN,...,NaN,000000037000,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
724751,FREC,989738695,I,02/23/2023,100351,5178687035759181,999999,7372,100,NaN,...,NaN,000000002296,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
724753,NREC,989798512,I,02/23/2023,180746,5199110777566271,673167,5311,051,305417673167,...,NaN,000000239500,NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left
724754,NREC,989809706,I,02/23/2023,173226,5178687051070927,234487,6011,051,022300308195,...,NaN,000000030000,NaN,000000,shifted left,010000,shifted left,shifted left,shifted left,shifted left

In [69]:
issuer_df = excel_delete(issuer_df, ['C'])
acquirer_df = excel_delete(acquirer_df, ['C'])

In [70]:
def check_ac(dframe):
    df = dframe.copy()
    sum_of_empty = df['AC'].isnull().sum()

    if sum_of_empty == len(df):
        return True

    else:
        return False

if check_ac(acquirer_df):
    print("Column AC is empty for the acquirer dataframe.\nWe can proceed with transformations")

else:
    warnings.warn("Column AC in acquirer dataframe is NOT empty.\nIf you continue, you might have wrong transformations")


if check_ac(issuer_df):
    print("Column AC is empty for the issuer dataframe.\nWe can proceed with transformations")

else:
    warnings.warn("Column AC in the issuer dataframe is NOT empty.\nIf you continue, you might have wrong transformations")

Column AC is empty for the acquirer dataframe.
We can proceed with transformations
Column AC is empty for the issuer dataframe.
We can proceed with transformations

In [71]:
# Dividing columns Q, Y, AA, and AH by -100

acquirer_df[['Q', 'Y', 'AA', 'AH']] = acquirer_df[['Q', 'Y', 'AA', 'AH']].astype(float)/(-100)

issuer_df[['Q', 'Y', 'AA', 'AH']] = issuer_df[['Q', 'Y', 'AA', 'AH']].astype(float)/(-100)

In [72]:
# Commenting out the function that converts to accounting format

# def convert_to_accounting(x):
#     if x > 0:
#         return round(x, 2)

#     elif x == 0:
#         return "-"

#     else:
#         return f"({round(x, 2)*-1})"



acquirer_df['Q'] = acquirer_df['Q'].apply(convert_to_accounting)
acquirer_df['Y'] = acquirer_df['Y'].apply(convert_to_accounting)
acquirer_df['AA'] = acquirer_df['AA'].apply(convert_to_accounting)
acquirer_df['AH'] = acquirer_df['AH'].apply(convert_to_accounting)

issuer_df['Q'] = issuer_df['Q'].apply(convert_to_accounting)
issuer_df['Y'] = issuer_df['Y'].apply(convert_to_accounting)
issuer_df['AA'] = issuer_df['AA'].apply(convert_to_accounting)
issuer_df['AH'] = issuer_df['AH'].apply(convert_to_accounting)

In [ ]:
sheet_B_df = acquirer_df.copy()

sheet_A_df = issuer_df.copy()

In [ ]:
sheet_A_df.head()

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
33,FREC,030469681,02/21/2023,203702,5199110731554413,999999,5818,812,NaN,0000012584,...,(840.0),NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left,shifted left
35,FREC,030469965,02/21/2023,203802,5199110792758374,999999,7995,812,NaN,0000012584,...,(400.0),NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left,shifted left
37,FREC,030469969,02/21/2023,203858,5199111280046934,999999,5399,812,NaN,0000012584,...,(50.0),NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left,shifted left
39,FREC,030470098,02/21/2023,203903,5199110878292355,999999,5399,812,NaN,0000012584,...,(1000.0),NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left,shifted left
41,FREC,030470390,02/21/2023,204054,5199110730210827,999999,5399,002,NaN,0000012584,...,(5000.0),NaN,000000,shifted left,000000,shifted left,shifted left,shifted left,shifted left,shifted left

In [ ]:
sheet_B_df.head()

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
2,NREC,030531216,02/23/2023,130847,5587600100063814,827796,6011,051,022318362192,1956615196,...,-,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left,shifted left
3,NREC,031215967,02/23/2023,072838,5587600103042955,376058,6011,051,022353227215,1956615196,...,-,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left,shifted left
4,NREC,031226574,02/23/2023,100942,5587600100354452,750196,6011,051,022307750739,1956615196,...,-,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left,shifted left
5,NREC,032179974,02/23/2023,092909,5249101000679056,311682,6011,801,022392986186,1956615196,...,(2000.0),NaN,000000,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
6,NREC,032292813,02/23/2023,194602,5249101000894713,469413,6011,051,022369564170,1956615196,...,-,NaN,000000,shifted left,300000,shifted left,shifted left,shifted left,shifted left,shifted left

In [ ]:
#EREC on both sheets are colored red. It contains ATM, POS, Int'l exceptional record
#FREC, EREC, NREC are sorted and separated on the same sheet A
#Sort by column M: On column M:
#CI1 and CI2 are ATM withdrawals
#MS1 and MS2 are ATM transfers
#POS are MD1 and MD2
#Separate POS from ATM transactions

In [ ]:
filtered_dbmc_data

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
34,DBMC,030469681,ME0005660123022301,3,057D,L02000,0002MD,UE,KR6I475315253053103,234685,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,DBMC,030469965,ME0005660123022301,3,0575,32A000,0532MD,UL,6UXVK75315253053103,235850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,DBMC,030469969,ME0005660123022301,3,C57P,S01000,0001MC,C8,3708475315253053103,236404,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,DBMC,030470098,ME0005660123022301,3,C57P,S01000,0001MC,C8,1619475315253053103,235071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,DBMC,030470390,ME0005660123022301,3,C57P,S01000,0001MC,C2,2302475315253053103,237170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724742,DBMC,989601806,US0000000123022301,4,4519,795099,8 MD,GG,2TDEW55429503053719,691053,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724744,DBMC,989603673,US0000000123022301,3,1100,310088,1 MD,GJ,ZBYEZ82305763053307,548002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724746,DBMC,989611000,US0000000123022301,S,AIVT,CHQI9N,1VH4MD,GI,TDRJE82711163054000,002355,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724750,DBMC,989623820,US0000000123022301,0,0001,010040,279799,99,9999985276233053405,323263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724752,DBMC,989738695,US0000000123022301,P,L7WU,QLGJ9R,I3YXMD,GJ,FQQCZ82711163054000,007823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
erec_sheet_A_df = sheet_A_df.loc[sheet_A_df["A"].str.lower() == "erec", :]
frec_sheet_A_df = sheet_A_df.loc[sheet_A_df["A"].str.lower() == "frec", :]
nrec_sheet_A_df = sheet_A_df.loc[sheet_A_df["A"].str.lower() == "nrec", :]

len(nrec_sheet_A_df) + len(frec_sheet_A_df) + len(erec_sheet_A_df) == len(sheet_A_df)

True

In [ ]:
frec_sheet_A_df["M"].value_counts()

MD2    47905
CI2     3023
MD1     1457
CI1      145
MS2        9
MS1        1
Name: M, dtype: int64

In [ ]:
md_frec_sheet_A_df = frec_sheet_A_df.loc[frec_sheet_A_df["M"].str.startswith("MD"), :]
other_frec_sheet_A_df = frec_sheet_A_df.loc[~frec_sheet_A_df["M"].str.startswith("MD"), :]
other_frec_sheet_A_df.loc[:, "L":]

,L,M,N,O,P,Q,R,S,T,U,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
2088,00,CI2,NaN,304565,566,(5000.0),D,000000000000,D,00000000,...,(5000.0),NaN,000000,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
2089,00,CI2,NaN,305551,566,(5000.0),D,000000000000,D,00000000,...,(5000.0),NaN,000000,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
2109,00,CI2,NaN,194564,566,(4000.0),D,000000000000,D,00000000,...,(4000.0),NaN,000000,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
2114,00,CI2,NaN,194842,566,(3000.0),D,000000000000,D,00000000,...,(3000.0),NaN,000000,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
2119,00,CI2,NaN,133146,566,(4000.0),D,000000000000,D,00000000,...,(4000.0),NaN,000000,shifted left,012000,shifted left,shifted left,shifted left,shifted left,shifted left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724632,00,CI1,NaN,847304,951,(108.0),D,000000000000,D,00000800,...,(108.0),NaN,000000,shifted left,012000,shifted left,shifted left,shifted left,shifted left,shifted left
724646,00,CI1,NaN,246434,826,(80.0),D,000000000000,D,00000000,...,(80.0),NaN,000000,shifted left,010000,shifted left,shifted left,shifted left,shifted left,shifted left
724647,00,CI1,NaN,914106,840,(214.0),D,000000000000,D,00001400,...,(214.0),NaN,000000,shifted left,010000,shifted left,shifted left,shifted left,shifted left,shifted left
724719,00,CI1,NaN,237728,124,(403.0),D,000000000000,D,00000300,...,(403.0),NaN,000000,shifted left,012000,shifted left,shifted left,shifted left,shifted left,shifted left
724736,00,CI1,NaN,128400,826,(250.0),D,000000000000,D,00000000,...,(250.0),NaN,000000,shifted left,010000,shifted left,shifted left,shifted left,shifted left,shifted left

In [ ]:
filtered_dbmc_data

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
34,DBMC,030469681,ME0005660123022301,3,057D,L02000,0002MD,UE,KR6I475315253053103,234685,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,DBMC,030469965,ME0005660123022301,3,0575,32A000,0532MD,UL,6UXVK75315253053103,235850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,DBMC,030469969,ME0005660123022301,3,C57P,S01000,0001MC,C8,3708475315253053103,236404,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,DBMC,030470098,ME0005660123022301,3,C57P,S01000,0001MC,C8,1619475315253053103,235071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,DBMC,030470390,ME0005660123022301,3,C57P,S01000,0001MC,C2,2302475315253053103,237170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724742,DBMC,989601806,US0000000123022301,4,4519,795099,8 MD,GG,2TDEW55429503053719,691053,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724744,DBMC,989603673,US0000000123022301,3,1100,310088,1 MD,GJ,ZBYEZ82305763053307,548002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724746,DBMC,989611000,US0000000123022301,S,AIVT,CHQI9N,1VH4MD,GI,TDRJE82711163054000,002355,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724750,DBMC,989623820,US0000000123022301,0,0001,010040,279799,99,9999985276233053405,323263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724752,DBMC,989738695,US0000000123022301,P,L7WU,QLGJ9R,I3YXMD,GJ,FQQCZ82711163054000,007823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

def excel_vlookup(maintable, lookuptable, main_col, lookup_col, value_col, destination_col):

  main_table = maintable.copy()
  lookup_table = lookuptable.copy()

  lookup_mask = lookup_table[lookup_col].isin(main_table[main_col].to_list())
  lookup_result = lookup_table.loc[lookup_mask, :][[lookup_col, value_col]]
  lookup_series = lookup_result.set_index(lookup_col)
  lookup_dict = lookup_series.to_dict()
  lookup_dict = lookup_dict["C"]
  #print(lookup_dict)
  main_table_cols = list(main_table.columns)
  #print(main_table_cols)
  #print(destination_col)
  destination_idx = main_table_cols.index(destination_col)
  #print(destination_idx)
  remainder_cols = main_table_cols[destination_idx:].copy()

  for col in remainder_cols:
    shifted_mask = main_table[col] == "shifted left"
    if main_table[col].isnull().sum() == len(main_table) or len(main_table.loc[shifted_mask, :]) == len(main_table):
      main_table[col] = main_table[main_col].map(lookup_dict)
      print(f"Lookup values inserted in Column {col}")
      break

    else:
      print(f"Destination column chosen, Column {destination_col} is not empty. Searching for an empty column")

  return main_table



# found_frec_dbmc_mask = filtered_dbmc_data["B"].isin(md_frec_sheet_A_df["B"].to_list())

# bc = filtered_dbmc_data.loc[found_frec_dbmc_mask, :][["B", "C"]]

# bc = bc.set_index("B")

# bc.to_dict()

lookup_md_frec_sheet_A_df = excel_vlookup(md_frec_sheet_A_df, filtered_dbmc_data, "B", "B", "C", "AM")

Lookup values inserted in Column AM

In [ ]:
lookup_md_frec_sheet_A_df["W"].value_counts()

566    47905
840     1457
Name: W, dtype: int64

In [ ]:
reassembled_sheet_A_df = pd.concat([erec_sheet_A_df, lookup_md_frec_sheet_A_df, other_frec_sheet_A_df, nrec_sheet_A_df])

len(reassembled_sheet_A_df) == len(sheet_A_df)

True

In [ ]:
reassembled_sheet_A_df["W"].value_counts()

840    360572
566     59717
Name: W, dtype: int64

In [ ]:
reassembled_sheet_A_df.sort_values("W", inplace = True)

In [ ]:
domestic_atm_pos = reassembled_sheet_A_df.loc[reassembled_sheet_A_df["W"] == "566", :]

intl_atm_pos = reassembled_sheet_A_df.loc[reassembled_sheet_A_df["W"] == "840", :]

In [ ]:
len(domestic_atm_pos) + len(intl_atm_pos) == len(reassembled_sheet_A_df)

True

In [ ]:
intl_atm_pos["E"].value_counts()

5199110744089043    170
5199111270721934    164
5199110768325554    157
5199110774724527    148
5199110815373961    105
                   ...
5199111269296369      1
5199110656168603      1
5199110783702407      1
5199110722175111      1
5199110742797159      1
Name: E, Length: 167672, dtype: int64

In [ ]:
domestic_atm_pos["E"].value_counts()

5199110757644056    33
5199110744052033    27
5199110896221717    25
5199110755715015    24
5199110765065799    24
                    ..
5199110762356399     1
5199110827323111     1
5199110657043698     1
5199110713024567     1
5199110773792665     1
Name: E, Length: 39524, dtype: int64

In [ ]:
sheet_B_df["E"].value_counts()

5587600100354452    4
5587600100063814    3
5249101000894713    3
5338530813858170    2
5587600100305777    2
5199110758476060    2
5587600100707295    2
5249100130066556    1
5249100130037318    1
5587600100449120    1
5587600100079083    1
5249101005131715    1
5249101005983404    1
5591130100300481    1
5587600100032934    1
5249100170068249    1
5587600103042955    1
5587600100825246    1
5249100170097958    1
5249100170088171    1
5249101006266304    1
5249101000679056    1
5230461000544952    1
Name: E, dtype: int64

In [ ]:
domestic_atm = domestic_atm_pos[~domestic_atm_pos['M'].str.startswith("MD")]
domestic_pos = domestic_atm_pos[domestic_atm_pos['M'].str.startswith("MD")]

len(domestic_atm) + len(domestic_pos) == len(domestic_atm_pos)

True

In [ ]:
erec_domestic_atm = domestic_atm.loc[domestic_atm["A"].str.lower() == "erec"]
erec_domestic_atm.head()

,A,B,C,D,E,F,G,H,I,J,...,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
99408,EREC,960607093,02/05/2023,114739,5199110873530049,460723,6011,051,000312303155,1956611598,...,-,D0205234NNX,237398,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
99625,EREC,961799059,02/02/2023,171957,5199110377144800,063701,6011,051,001839734505,1956614197,...,(10000.0),D0202234NNX,127405,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
99877,EREC,964482516,02/03/2023,101421,5199110636606722,411398,6011,051,000311601219,1956611598,...,(5000.0),D0203234NNX,234106,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
100012,EREC,965426679,02/17/2023,082531,5199110891204981,563416,6011,051,000316318642,1956611598,...,-,D0217234NNX,163417,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
100128,EREC,966443231,02/03/2023,110911,5199110850775963,553809,6011,051,001922427928,1956613208,...,-,D0203234NNX,981144,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
erec_domestic_atm.sort_values(["Z", "AB"]).loc[:, "X":]

,X,Y,Z,AA,AB,AC,AD,AE,AF,AG,AH,AI,AJ,AK,AL,AM,AN,AO,AP,AQ
99408,11000000,(5000.0),D,(25.0),C,NaN,NaN,00000000,0000,D,-,D0205234NNX,237398,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
100012,11000000,(3000.0),D,(25.0),C,NaN,NaN,00000000,0000,D,-,D0217234NNX,163417,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
100128,11000000,(5000.0),D,(25.0),C,NaN,NaN,00000000,0000,D,-,D0203234NNX,981144,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
100129,11000000,(4000.0),D,(25.0),C,NaN,NaN,00000000,0000,D,-,D0221234NNX,242224,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
100278,11000000,(1000.0),D,(25.0),C,NaN,NaN,00000000,0000,D,-,D0221234NNX,242170,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45477,11000000,-,D,(25.0),D,NaN,NaN,00000010,0000,D,(1000.0),D0202234NNX,155168,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
45478,11000000,-,D,(25.0),D,NaN,NaN,00000030,0000,D,(3000.0),D0219234NNX,244141,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
45734,11000000,-,D,(25.0),D,NaN,NaN,00000010,0000,D,(1000.0),D0202234NNX,230183,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left
46210,11000000,-,D,(25.0),D,NaN,NaN,00000050,0000,D,(5000.0),D0203234NNX,171252,shifted left,012000,shifted left,shifted left,shifted left,shifted left,shifted left
54515,11000000,-,D,(25.0),D,NaN,NaN,00000100,0000,D,(10000.0),D0121234NNX,234070,shifted left,011000,shifted left,shifted left,shifted left,shifted left,shifted left

In [ ]:
erec_domestic_atm["Z"].update(erec_domestic_atm.loc[:, "AB"])

<ipython-input-62-a5278219ae54>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  erec_domestic_atm["Z"].update(erec_domestic_atm.loc[:, "AB"])

In [ ]:
all(erec_domestic_atm["Z"] == erec_domestic_atm["AB"])

True

In [ ]:
def correct_accounting(x):
  if x.startswith("("):
    return x.strip("()")

  else:
    return x

erec_domestic_atm["Y"] = np.where(erec_domestic_atm["Z"] == "C", erec_domestic_atm["Y"].apply(correct_accounting), erec_domestic_atm["Y"])
erec_domestic_atm["AA"] = np.where(erec_domestic_atm["Z"] == "C", erec_domestic_atm["AA"].apply(correct_accounting), erec_domestic_atm["AA"])

<ipython-input-64-b531e1130453>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  erec_domestic_atm["Y"] = np.where(erec_domestic_atm["Z"] == "C", erec_domestic_atm["Y"].apply(correct_accounting), erec_domestic_atm["Y"])
<ipython-input-64-b531e1130453>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  erec_domestic_atm["AA"] = np.where(erec_domestic_atm["Z"] == "C", erec_domestic_atm["AA"].apply(correct_accounting), erec_domestic_atm["AA"])

In [ ]:
erec_domestic_atm.iloc[:60, 15:35].sort_values(["Z", "AB"])

,P,Q,R,S,T,U,V,W,X,Y,Z,AA,AB,AC,AD,AE,AF,AG,AH,AI
99408,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,5000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0205234NNX
100012,566,(3000.0),D,000000000000,D,00000000,D,566,11000000,3000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0217234NNX
100128,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,5000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0203234NNX
100129,566,(4000.0),D,000000000000,D,00000000,D,566,11000000,4000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0221234NNX
100278,566,(1000.0),D,000000000000,D,00000000,D,566,11000000,1000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0221234NNX
100427,566,(10000.0),D,000000000000,D,00000000,D,566,11000000,10000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0126234NNX
100428,566,(4000.0),D,000000000000,D,00000000,D,566,11000000,4000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0204234NNX
78107,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,5000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0221234NNX
78220,566,(4000.0),D,000000000000,D,00000000,D,566,11000000,4000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0221234NNX
78971,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,5000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0216234NNX
87902,566,(10000.0),D,000000000000,D,00000000,D,566,11000000,10000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0121234NNX
88691,566,(3000.0),D,000000000000,D,00000000,D,566,11000000,3000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0209234NNX
88692,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,5000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0221234NNX
88821,566,(4000.0),D,000000000000,D,00000000,D,566,11000000,4000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0204234NNX
88943,566,(1000.0),D,000000000000,D,00000000,D,566,11000000,1000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0206234NNX
88945,566,(3000.0),D,000000000000,D,00000000,D,566,11000000,3000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0217234NNX
88946,566,(4000.0),D,000000000000,D,00000000,D,566,11000000,4000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0220234NNX
89318,566,(4000.0),D,000000000000,D,00000000,D,566,11000000,4000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0221234NNX
24016,566,(4000.0),D,000000000000,D,00000000,D,566,11000000,4000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0204234NNX
24406,566,(2000.0),D,000000000000,D,00000000,D,566,11000000,2000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0222234NNX
21773,566,(10000.0),D,000000000000,D,00000000,D,566,11000000,10000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0121234NNX
34653,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,5000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0208234NNX
34654,566,(4000.0),D,000000000000,D,00000000,D,566,11000000,4000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0221234NNX
34767,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,5000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0221234NNX
2080,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,5000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0205234NNX
2568,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,5000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0208234NNX
2804,566,(4000.0),D,000000000000,D,00000000,D,566,11000000,4000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0204234NNX
2922,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,5000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0221234NNX
13268,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,5000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0202234NNX
13009,566,(10000.0),D,000000000000,D,00000000,D,566,11000000,10000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0126234NNX
34891,566,(4000.0),D,000000000000,D,00000000,D,566,11000000,4000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0204234NNX
34892,566,(10000.0),D,000000000000,D,00000000,D,566,11000000,10000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0208234NNX
35171,566,(4000.0),D,000000000000,D,00000000,D,566,11000000,4000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0222234NNX
56107,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,5000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0202234NNX
56108,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,5000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0205234NNX
56366,566,(10000.0),D,000000000000,D,00000000,D,566,11000000,10000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0126234NNX
56367,566,(4000.0),D,000000000000,D,00000000,D,566,11000000,4000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0214234NNX
56492,566,(10000.0),D,000000000000,D,00000000,D,566,11000000,10000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0205234NNX
56609,566,(3000.0),D,000000000000,D,00000000,D,566,11000000,3000.0,C,25.0,C,NaN,NaN,00000000,0000,D,-,D0217234NNX
99625,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000100,0000,D,(10000.0),D0202234NNX
99877,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000050,0000,D,(5000.0),D0203234NNX
100277,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000100,0000,D,(10000.0),D0126234NNX
88820,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000040,0000,D,(4000.0),D0204234NNX
88944,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000050,0000,D,(5000.0),D0213234NNX
24405,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000050,0000,D,(5000.0),D0206234NNX
24637,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000100,0000,D,(10000.0),D0202234NNX
21774,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000100,0000,D,(10000.0),D0121234NNX
1203,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000100,0000,D,(10000.0),D0121234NNX
2081,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000100,0000,D,(10000.0),D1125224NNX
2207,566,(5000.0),D,000000000000,D,00000000,D,566,11000000,(5000.0),D,(0.01),D,NaN,NaN,00000000,0000,D,-,D0129234NNX
2208,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000050,0000,D,(5000.0),D0203234NNX
2444,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000050,0000,D,(5000.0),D0204234NNX
13269,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000040,0000,D,(4000.0),D0211234NNX
34890,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000050,0000,D,(5000.0),D0203234NNX
11235,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000100,0000,D,(10000.0),D0121234NNX
13140,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000050,0000,D,(5000.0),D0203234NNX
13141,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000050,0000,D,(5000.0),D0213234NNX
56365,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000010,0000,D,(1000.0),D0202234NNX
56493,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000040,0000,D,(4000.0),D0217234NNX
56732,566,-,D,000000000000,D,00000000,D,566,11000000,-,D,(25.0),D,NaN,NaN,00000100,0000,D,(10000.0),D0125234NNX

In [ ]:
domestic_atm = domestic_atm.update(erec_domestic_atm)

### List of checks

First add up column Y and column AA for EREC, FREC and NREC. They must equal the final value in t461.<br>
Else:
- Check for the number of "-" on column AA
> if there are none, continue
> else if there are:
> 1. Note the index
> 2. Check column Y and AH values for that index. Add the value opposite to AH to Y for that index.
> 3. Compare total with t461 again.

- if it does not add up:
> 1. check column Q for value on that index
> 2. The correct value on column Y must be the Opposite of column Q plus the value of AH
> 3. Compare total with t461 again.

- if it does not add up:
> 1. raise warning

In [ ]:
sum(erec_domestic_atm["AA"] == "-")

0

In [ ]:
# for cell_y, cell_ah in zip(erec_domestic_atm["Y"], erec_domestic_atm["AH"]):
#   if cell_y != cell_ah:
#     print(cell_y)

idx_list = []
for idx in erec_domestic_atm.index:
  cell_y = erec_domestic_atm.at[idx, "Y"]
  cell_ah = erec_domestic_atm.at[idx, "AH"]

  if (cell_y == "-" and cell_ah == "-") | (cell_y != "-" and cell_ah != "-"):
    idx_list.append(idx)

erec_domestic_atm.loc[idx_list, :].loc[:, "X":]

Empty DataFrame
Columns: [X, Y, Z, AA, AB, AC, AD, AE, AF, AG, AH, AI, AJ, AK, AL, AM, AN, AO, AP, AQ]
Index: []

In [ ]:
file_path = Path("/content/drive/MyDrive/SNAPNET/Gdrive_dev/MCI.AR.T461.M.E0070236.D230224.T021655.txt")

try:
    loaded_data = pd.read_csv(file_path, dtype = str)

except Exception as e:
    print(f"An error occurred reading the file normally. Converting to .txt.\nPython error: {e}")

    new_file_path = A024_to_txt(file_path)
    loaded_data = pd.read_csv(new_file_path, dtype = str)

else:
    print("Data loaded in first attempt")

loaded_data.head(60)

An error occurred reading the file normally. Converting to .txt.
Python error: Error tokenizing data. C error: Expected 1 fields in line 35, saw 2

Changed extension of '/content/drive/MyDrive/SNAPNET/Gdrive_dev/MCI.AR.T461.M.E0070236.D230224.T021655.txt' to 'MCI.AR.T461.M.E0070236.D230224.T021655.txt'.

ValueError: ignored

In [ ]:
domestic_pos.sort_values(["Z", "AB"])

In [ ]:
sheet_A_data.head()

In [ ]:
sheet_A_data['new D'] = pd.to_datetime(sheet_A_data['New D'])
sheet_A_data['new D'] = sheet_A_data['new D'].dt.strftime('%m/%d/%Y')

In [ ]:
acquirer_mask = sheet_A_data['C'] == 'A'

sheet_A_acquirer = sheet_A_data.loc[acquirer_mask, :]

sheet_A_issuer = sheet_A_data.loc[~acquirer_mask, :]

In [ ]:
sheet_A_data.loc[:, :'AC']